.services{
    background-color: #AA5656;
    background-image: url('../images/online\ services.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    box-sizing: border-box;
    padding: 100px;

}
.services__title{
font-family: 'Inter', Arial,sans-serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
max-width: 780px;
text-align: center;
padding-bottom: 24px;
margin: auto;
}

.services__subtitle{
    font-family: "Noto Serif", "Times New Roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 780px;
    text-align: center;
    margin: auto;
    background-color: rgba(170, 86, 86, 0.5);

}
.services__cards{
margin-top: 100px;
display: flex;
gap: 100px;
justify-content: space-evenly;
flex-wrap: wrap;
}
