.services {
  background-color: #aa5656;
  background-image: url("../images/online-services2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  box-sizing: border-box;
  padding: 100px;
}
.services__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  text-align: center;
  padding-bottom: 24px;
  margin: auto;
}

.services__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: auto;
  background-color: rgba(170, 86, 86, 0.5);
}
.services__cards {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* For tablet */
@media (max-width: 768px) {
  .services__title {
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 16px;
  }

  .services__subtitle {
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
  }

  .services__cards {
    gap: 50px;
    margin-top: 50px;
  }
}

/* For phone */
@media (max-width: 480px) {
  .services__title {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 8px;
  }

  .services__subtitle {
    font-size: 14px;
    line-height: 20px;
    padding: 8px;
  }

  .services__cards {
    gap: 30px;
    margin-top: 30px;
  }
}
